<!doctype html>

<html>
<head>
<!-- <script src="../js/add.js"></script> -->
</head>

<body>
	<div>
		<h2>So what's on your mind now?</h2>

		<h4>Event name:</h4>
		<input>
		</input>

		<h4>Comments:</h4>
		<form action="index">
			<textarea name="event" rows="4" cols="50">Add comments for event</textarea>
		</form>

		<h4>Time:</h4>
		<input></input>
		<input></input>

		<h4>Location:</h4>
		<input></input>

		<div><Button id="done" onclick="write_event">
			<h3>Done</h3>
		</Button></div>

		<div><Button>
			<h2>Invite Friends</h2>
		</Button></div>

		<div>
		<Button>
			<h3>Archive</h3>
		</Button>

		<Button>
			<h3>Delete</h3>
		</Button>
		</div>

		<a href="index"><h3>Back</h3></a>
	</div>

</body>
</html>
