<!doctype html>

<html>
<head>
<!-- <script src="../js/add.js"></script> -->
</head>

<body>
	<div>
		<h2>So what's on your mind now?</h2>

		<form method="get" action="/addEvent">
			<h4>Event name:</h4>
			<input id="name" name="name"></input>

			<h4>Comments:</h4>
			<input name="comment"></input>			

			<h4>Time:</h4>
			<input name="timeFrom"></input>
			<input name="timeTo"></input>

			<h4>Location:</h4>
			<input name="place"></input>
			
			<div><input type="submit" id="submit" class="btn btn-default"value="Add Event"></input></div>

		</form>

		<div><Button>
			<h2>Invite Friends</h2>
		</Button></div>

		<div>
		<Button>
			<h3>Archive</h3>
		</Button>

		<Button>
			<h3>Delete</h3>
		</Button>
		</div>

		<a href="index"><h3>Back</h3></a>
	</div>

</body>
</html>
