<!doctype html>

<html>
<head>
<!-- <script src="../js/add.js"></script> -->
</head>

<body>
	<div>
		<h2>Add Event Here</h2>

		<form action="index">
			<textarea name="event" rows="4" cols="50"></textarea>
		</form>

		<Button id="done" onclick="write_event">
			Done
		</Button>

		<a href="index"><h3>Back</h3></a>
	</div>

</body>
</html>
