<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/colorGrid.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- 
Todos:
Find space and insert
Text format for each events
Color to use: orange for happy maybe?
White space above title
-->

<body>
	<div class="container-fluid" style="height: 100%; width: 100%">
		<div id="title">
			<h2>ManageMotif</h2>
		</div>

		<div class="Signup">
			<a href="login">
				<h5>Login</h5>
			</a>
		</div>

		{{#each events}}
		<div class="flex-container">
		{{#each row}}
			<div id="grid" style="width:{{importance}}%">
				<a href="add?{{name}}">
					<h4 style="color:white">{{name}}</h4>
				</a>
			</div>
		{{/each}}
		</div>
		{{/each}}
		

		<!-- div>
			<i class="fa fa-trash"></i>
		</div -->

		<hr>

		<div><button id="create"><h4>Create Event</h4></button></div>

		<div><h2>
		</h2><div>

		<div style="height:20%">
		<form method="get" action="/addEvent">
			<input id="qrBox" name="name" placeholder="Quick Reminder"></input>
			<input id="qrButton" type="submit" value="OK"></input>
		</form></div>

		<div>

		<!-- div>
			<i class="fa fa-book"></i>
			<a href="journal">Journal</a>
		</div -->
			
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		$("#create").click(function(){
			window.open("add", "_self", "null")
		});
	</script>

</body>
</html>
