<html>

<head>
<meta charset = "utf-8"> 
<link href="/css/journal.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<a href="index">
		<h4>Back</h4>
	</a>
	<div class="title"><h1>Journal</h> </div>
	<div class = "filter">
		<form name = "date">
			<h1>From</h1>
			Start Date: <input type="date">
			<h2>To</h2>
			End Date: <input type="date">
			<input type="submit"/>
		</form>
		<h3>Or view journal of:</h3>
	<button class="button button1">Last Week</button>
	<button class="button button2">Last Month</button>
	<button class="button button3">Last Year</button>
	<br>
	<img src="Pictures/arrowdown.svg">

	</div>
</body>
