<!doctype html>

<html>

<head>
<meta charset = "utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> login </title>
<link rel="stylesheet" type="text/css" href="/css/login.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
</head>

<body>
	
	<!-- a href="index"> <i class="fa fa-home"> </i>
		<h4>Back</h4>
	</a -->
	<div class="container"> 	

		<div class="title">
		<h1>ManageMotif</h1>

		<div class="quotes">
		<p>Manage your time with cool motif!</p>
		<p>---Life is simple</p>
	</div>
 </div>	


			<div class="formBox">
			<!--<img src="Pictures/user.png" class="user"> -->
				<p>Username</p>
				<input type="Name" name="" placeholder="siri@managemotif.com">
				<p>Password</p>
				<input type="Password" name="" placeholder="・・・・・・">
				<br>

				<div class="signin">
				<a href="{{indexOrAdd}}">
				<input type="submit" value="Sign in"></input>
				</a>
				
			</div>
				<!--<a href="index">"<class=sign in></a>-->
				<a href= "{{indexOrAdd}}"> Forget Password </a>
				<a href= "{{indexOrAdd}}">
				<input type="submit" name ="" value="Sign up" >
				</a>
				<a href="{{indexOrAdd}}">
					<center><p style="font-size: 18px; color: #00a1f1">Skip and Add My Event!</p></center>
				</a>
				<br>
	
			<center><fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button></center>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>
	</body>
<html>


