body {
	margin: 0 auto;
	padding: 5px;
	background: url(/images/motif2.png);
	background-size: cover;
	font-family: sans-serif;
	color: #00a1f1
	height: 100% 
}

.title img{
	text-align: left;
}
.title h2{
	text-align:center;
	padding:20px 0 20px;
	font-size: 30px;
	color: #00a1f1;
}
.container
{
	width: 90%;
	height: 98%;
	background: #fff;
	margin:0 auto;
	border: 2px solid #fff;
	box-shadow: 0 20px 50px rgba(0,0,0,.5);
	opacity:0.9;
}

input[type=submit]{
	background-color: #0088cc; 
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}
.btn {
    background-color: #0088cc; 
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}
.btn1 {
    background-color: #00a1f1; 
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}
.btn2 {
    background-color: #00a1f1; 
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}
.btn3 {
    background-color: #00a1f1; 
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}
