body
{
        margin: 0;
        padding: 0;
        background: url(/images/motif2.png);
        background-size: cover;
        font-family: sans-serif;
	height: 100%;
	width: 100%;
}

.flex-container {
	display: flex;
	height: 19%;
	width: 100%;
	font-size: 0;
}

#title {
	height: 6%;
	width: 100%;
/*	background-color: #232323; */
}

html, body {
	height: 100%;
	width: 100%;
}

#grid {
	background-color: #00a1f1;
	margin: 3px;
	height: 95%;
}

section::after {
	flex-grow: 99999999;
}

input {
	display: inline;
}
