body
{
        margin: 2;
        padding: 5px;
       //background-color:#e6ffff;
        //background: linear-gradient(-90deg, #e6ffff, #fff);
        background: url(/images/motif2.jpg);
        background-size:cover;
        font-family: "Josefin Sans";
	height: 100%;
	width: 100%;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
    justify-content:center;
	height: 19%;
	width: 100%;
	font-size: 0;
}
.container{
    width: 100%;
    height: auto;
    margin:0 auto;
    border: 2px solid #fff;
    opacity:0.9;

}

/* #title {
	height: 6%;
	width: 100%;
	background-color: #232323; */

html, body {
	height: 100%;
	width: 100%;
}

#grid {
	margin: 2px;
	height: 95%;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    text-align: left;
}

input {
	display: inline;
}

#create {
    background-color: #00a1f1;
    /* border: none; */
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    width: 100%;
    left-margin: 10px;
    right-margin: 10px;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    font-family: "Josefin Sans";

}

#qrBox {
	width: 78%;
	height: 50px;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
}

#qrButton {
	width: 20%;
	background-color: #00a1f1;
    	color: white;
    	padding: 10px 30px;
   	text-align: center;
    	display: inline-block;
    	font-size: 16px;
    	border-radius: 8px;
    	left-margin: 10px;
    	right-margin: 10px;
        font-family: "Josefin Sans";
	height: 50px;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
}
